.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 25px;
}

.search {
    margin-top: 20px;
}

.app_input {
    padding: 8px 20px;
    min-width: 200px;
    max-width: 100vw;
    font-size: 20px;
}

.app_sumbit {
    padding: 8px 18px;
    font-size: 18px;
    margin-left: 8px;
    background-color: purple;
    border: 2px solid purple;
    border-radius: 5px;
    color: antiquewhite;
    width: 180px;
    text-align: center;
}

.app_sumbit:hover {
    padding: 8px 18px;
    font-size: 18px;
    margin-left: 8px;
    background-color: pink;
    border: 2px solid pink;
    border-radius: 5px;
    color: purple;
    width: 180px;
    text-align: center;
}

.app_recipe {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 250px 250px;
    align-items: baseline;
}

.select {
    padding: 10px 10px;
    margin-left: 10px;
    border-radius: 6px;
}